<h2>Dobrodošli na servisne.info</h2>

<p>
  servisne.info vam šalju korisne servisne informacije na mejl za ulice koje
  odaberete.
</p>

<p>
  Informacije se preuzimaju sa
  <%= link_to "021.rs", "http://www.021.rs/", :target => "_blank" %>.
</p>

<p>
  servisne.info je servis baziran na
  <%= link_to "slobodnom softveru", Rails.configuration.repo_url %>.
  To znači da je kod koji "pokreće" servis dostupan javno. Možete ga menjati i
  prilagođavati vašim potrebama u skladu sa MIT licencom.
</p>

<p>
  Author servisa je tim
  <%= link_to "Hackberry", "https://www.hackberry.dev/", :target => "_blank" %>
  iz Novog Sada.
</p>
