<h2>Kontakt</h2>

<p>
  Ako imate predlog, ideju, žalbu ili molbu, molimo da nas kontaktirate na mejl
  strika@hackberry.dev.
</p>

<br>

<div class="text-center">
  <a class="btn btn-primary btn-lg" href="mailto:strika@hackberry.dev">
    Kontakt
  </a>
</div>
