<h2>Kontakt</h2>
<p>Ako imate predlog, ideju, žalbu ili molbu, molimo da nas kontaktirate na mejl nebojsa.stricevic@gmail.com.</p>
<br>
<div class="text-center">
  <a class="btn btn-primary btn-lg" href="mailto:nebojsa.stricevic@gmail.com">
    Kontakt
  </a>
</div>
