<h2>Uslovi korišćenja</h2>

<p>
  servisne.info je servis baziran na
  <a href="https://github.com/hackberryco/servisne_info">slobodnom softveru</a>.
  To znači da je kod koji "pokreće" servis dostupan javno. Možete ga
  menjati i prilagođavati važim potrebama u skladu sa MIT licencom.
</p>

<h3>Vaši podaci</h3>

<p>
  servisne.info čuvaju vašu imejl adresu i spisak ulica koje vas zanimaju.
  Ovi podaci biće korišćeni u svrhu slanja relevantnih servisnih informacija.
</p>

<p>
  Osim servisnih informacija, važa imejl adresa može biti korišćena i za
  slanje novosti, vesti ili drugih informacija koje su važne za funkcionisanje
  samog servisa.
</p>

<p>
  Važa imejl adresa i drugi podaci neće biti korišćeni za slanje reklama
  i drugog sličnog sadržaja.
</p>

<p>
  Ukoliko u bilo kom trenutku dobijete mejl koji smatrate neprimerenim ili
  neželjenim, molimo da nas odmah kontaktirate.
</p>

<p>
  Važa imejl adresa i drugi podaci neće biti deljeni ili prodavani drugim
  servisima, organizacijama ili pojedincima.
</p>

<h3>Tačnost i relevantnost informacija</h3>

<p>
  servisne.info preuzimaju servisne informacije sa drugih servisa
  (<a href="http://www.021.rs/">021.rs</a>). Preuzimanje informacija se
  vrši automatski, bez prethodne provere. Iz ovih razloga, servisne.info
  ne pružaju nikakve garancije o tačnosti ili relevantnosti informacija.
</p>

<p>
  Takođe, servisne.info ne pružaju nikakve garancije da će vam neka,
  potencijalno relevantna informacija, biti dostavljena.
</p>
